# .env.example
VITE_GOOGLE_MAPS_API_KEY=AIzaSyANXgw02rPWOY9DWMKtgrclXSTE3k9DoNU
GEMINI_API_KEY=AIzaSyBvKBk3XBJFwTW_9CIT9AjIMUT6curAf0I
DATABASE_URL=postgres://admin:YOUR_PASSWORD@45.88.188.129:5860/beverage
PRIVATE_DATABASE_URL=postgres://admin:YOUR_PASSWORD@45.88.188.129:5860/beverage
